#service-1 {
    .content {
        border: 1px solid rgba(128, 128, 128, 0.3);
        border-radius: 10px;

        .icon {
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);

        }

        .text {
            h4 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

#service-2 {
    .top {
        .text {
            width: fit-content;
            margin: auto;

            h1 {
                font-size: 20px;
            }
        }

    }

    .item {

        i {
            font-size: 20px;
        }

        h5 {

            display: inline;
            font-size: 15px;
        }
    }
}

#service-3 {
    width: 100%;
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .slick-prev{
        left: 30px;
        z-index: 99;
    }
    .slick-next{
        right: 30px;
        z-index: 99;
    }
    .slider {
        width: 60%;
        margin: auto;

        .slide {
            img {
                object-fit: contain;

            }
        }
    }
}

@media(min-width:576px) {
    #service-1 {
        .content {
            .icon {
                border-bottom: none;
                border-right: 1px solid rgba(128, 128, 128, 0.3);
            }
        }
    }
}

@media(min-width:768px) {
    #service-1 {
        .content {
            .text {
                h4 {
                    font-size: 18px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    #service-2 {
        .top {
            .text {
                h1 {
                    font-size: 30px;
                }
            }
        }

        .item {
            text-align: center;

            i {
                font-size: 30px;
            }

            h5 {
                font-size: 20px;
                display: block;
            }
        }
    }
}